body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}

h1 {
    margin: 50px;
}

p {
    text-align: center;
}

.record_result {
    font-weight: bold;
}

.result {
    font-size: 20px;
    font-weight: bold;
}

.alert {
    color: red;
}

.bigger {
    color: orangered;
}

.smaller {
    color: blue;
}

.success {
    color : green;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}


input {
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  button:hover {
    background-color: #7dd080;
    cursor: pointer;
  }